.center {
    vertical-align:middle;
    text-align:center;
}
.txt {
    font-weight: 600;
    text-align:center;
}
.inline {
  display: inline;
}
.link-button {
  background: none;
  border: none;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1em;
  font-family: serif;
  height:75px;
  font-size: 35px;
}
.link-button:focus {
  outline: none;
}
.link-button:active {
  color:red;
}
.little_left {
    position: fixed;
    left: 15px;
    right: 15px;
}
.topleft {
    position: absolute;
    top: 65px;
    left: 16px;
    font-size: 18px;
}
.topright {
    position: absolute;
    top: 65px;
    right: 16px;
}
.topright2 {
    position: absolute;
    top: 65px;
    left: 300px;
}
.topright3 {
    position: absolute;
    top: 65px;
    right: 315px;
}
.right {
    position: fixed;
    top: 835x;
    right: 820px;
}
.right_num {
    position: fixed;
    right: 915px;
}
.prev {
    position: fixed;
    top: 835x;
    right: 1010px;
}
.sort {
    position: fixed;
    top: 835x;
    right: 1110px;
}
.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}

.flex-child:first-child {
    margin-right: 5px;
}
.flex-child:second-child {
    margin-right: 15px;
}

.test{
    height:200px;
    width:200px;
}