{% extends "base.html" %}
{% block title %}Activity Page{% endblock %}
{% block content %}
<form class="topleft">
 <input type="button" value="Back" onclick="history.go(-2)">
</form>
<h1 class="center">{{dct["title"]}}</h1>
<h2 class="center">Open Hours: {{dct["hours"]}}</h2>
<h3 class="center">{{dct["open/close"]}}</h3>
<p class="center">{{dct["address"]}}</p>
<div class="center">
    <form method="post">
        <input type="hidden" name="write_review" value="False"/>
        <input type="hidden" name="save_activity" value="True"/>
        <input type="submit" value="Save Activity"/>
    </form>
</div>
<div class="little_left">
    <div>
        <h3>Description:</h3>
        <p>{{dct["description"]}}</p>
    </div>
    <div style="display: flex;">
        <div class="item" style="width:25%;">
            <div>
                <h3>{{dct["reviewamount"]}} Reviews:</h3>
                <h5>{{dct["rating"]}} Star Rating</h5>
            </div>
            <div>
                <table>
                    <tr><td>Excellent: </td><td>{{dct["rating5"]}}</td></tr>
                    <tr><td>Good: : </td><td>{{dct["rating4"]}}</td></tr>
                    <tr><td>Average: </td><td>{{dct["rating3"]}}</td></tr>
                    <tr><td>Bad: </td><td>{{dct["rating2"]}}</td></tr>
                    <tr><td>Terrible: </td><td>{{dct["rating1"]}}</td></tr>
                </table>
            </div>
        </div>


        <div class="item" style="position:relative;left:436px;">
            <h3 class="center">Write Your Own Review</h3>
            <form method="post">
                <input type="hidden" name="save_activity" value="False"/>
                <input type="hidden" name="write_review" value="True"/>
                <div class="center">
                    <input type="text" class="center" id="name" name="name" placeholder="Enter Your Username">
                </div>
                <textarea id="review" name="review" rows="5" cols="100" style="position:relative; top: 10px;" placeholder="Write Your Review Here..."></textarea>
                <div align="right">
                    <input type="submit" value="Submit Review">
                </div>
            </form>
        </div>


    </div>
    <br>
    <div class="flex-container">
        <div class="flex-child magenta">
            <div class="center">
                <h5>{{dct["user1"]["name"]}}</h5>
                <p>{{dct["user1"]["review"]}}</p>
                <p>{{dct["user1"]["date"]}}</p>
            </div>
        </div>
        <div class="flex-child green">
            <div class="center">
                <h5>{{dct["user2"]["name"]}}</h5>
                <p>{{dct["user2"]["review"]}}</p>
                <p>{{dct["user2"]["date"]}}</p>
            </div>
        </div>
        <div class="flex-child green">
            <div class="center">
                <h5>{{dct["user3"]["name"]}}</h5>
                <p>{{dct["user3"]["review"]}}</p>
                <p>{{dct["user3"]["date"]}}</p>
            </div>
        </div>
    </div>
</div>
<img class="topright" src='/static/images/{{user_image}}' alt="User Image">
<img class="topright2" src='/static/images/{{user_image2}}' alt="User Image2">
<img class="topright3" src='/static/images/{{user_image3}}' alt="User Image3">
{% endblock %}