{% extends "base.html" %}
{% block title %}Activity Page{% endblock %}
{% block content %}
<form class="topleft">
 <input type="button" value="Back" onclick="history.go(-1)">
</form>

<h1 class="center">{{dct["title"]}}</h1>

<h2 class="center">Open Hours: {{dct["hours"]}}</h2>
<h3 class="center">{{dct["open/close"]}}</h3>
<p class="center">{{dct["address"]}}</p>
<div class="little_left">
    <h4>{{dct["rating"]}}</h4>
    <h3>Description:</h3>
    <p>{{dct["description"]}}</p>
    <h3>Reviews:</h3>
</div>

{% endblock %}