{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<h1 class="center">Home Page</h1>
<p class="center">Welcome to my Tourist Attraction Locator app. Continue to the <a href="/search">search page</a>
    to lookup attractions near you!</p>


<div class="center" style="position:relative;top:40px;">
    <h4>Check out my CS162 Project if you're bored!</h4>
    <iframe frameborder="0" width="63%;" height="680px" src="https://replit.com/@truonging/KubaGame?lite=1&outputonly=1"></iframe>
</div>
{% endblock %}