{% extends "base.html" %}
{{ fontawesome_html() }}
{% block title%}Saved Activities Page{% endblock %}
{% block content %}
<body>
    <div class="center">
        <h2>View all your saved activities here.</h2>
        {% for activity in database[::-1] %}
        <div style="border-radius: 25px;width: 50%;display: inline-block;margin: 15px;text-align:center;padding:1px;box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;">
            <div style="width:90%;text-align:center;padding:2px;margin:0 auto;">
                <h4 style="font-size:2vw;">{{activity["title"]}}</h4>
                <p>{{activity["address"]}}</p>
                <p>{{activity["reviewAmount"]}} Reviews | Star Rating: {{activity["rating"]}} </p>
                <p>{{activity["description"]}}</p>
                <div style="display:flex;">
                    <form method="post" onsubmit="return confirm('ARE YOU SURE YOU WANT TO DELETE?');" style="margin: auto; width: 60px;">
                        <table>
                            <tr>
                                <td><input type="hidden" name="support_submit" value="False"></td>
                                <td><input type="hidden" name="ID" value="{{activity['ID']}}"></td>
                                <td><button type="submit" class="btn" name="action" value="delete"><i class="fa fa-trash fa-2x"></i></button></td>
                            </tr>
                        </table>
                    </form>
                    <form method="post" style="margin: auto; width: 150px;">
                        <table>
                            <tr>
                                <td><input type="hidden" name="support_submit" value="False"></td>
                                <td><input type="hidden" name="ID" value="{{activity['ID']}}"></td>
                                <td><button type="submit" name="action" value="go_to_activity" style="font: bold 14px Arial;font-size: 20px;">Visit Activity</button></td>
                            </tr>
                        </table>
                    </form>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</body>
{% endblock %}