{% extends "base.html" %}
{% block title%}Results Page{% endblock %}

{% block content %}
<form class="topleft">
 <input type="button" value="Back" onclick="history.go(-1)">
</form>

{% for i in range(5, 10) %}
    {% for ii in lst[i] %}
        <div class="center">
            <form method="post" action="#" class="inline">
                <input type="hidden" name="next_page" value="False">
                <input type="hidden" name="name" value={{dct["hidden"][loop.index-1]}}>
                <button type="submit" name="url" value={{lst[i][ii]}} class="link-button">
                    {{lst_title[i]}}
                </button>
            </form>
        </div>
    {% endfor %}
{% endfor %}

<br>
<form class="right" action="#" method="post">
    <input type="hidden" name="next_page" value="True">
    <input type="submit" value="Next Page"/>
</form>
<form class="prev" action="#" method="post">
    <input type="hidden" name="prev_page" value="True">
    <input type="button" value="Prev Page" onclick="history.go(-1)">
</form>
<h3 class="right_num">Page 2</h3>
{% endblock %}